In [64]:
text = "Hello Dakshay"
text[::-1][0]

'y'

In [65]:
text.replace('a', '!')

'Hello D!ksh!y'

In [66]:
print(text.upper())
print(text.title())
print(text.lower())

HELLO DAKSHAY
Hello Dakshay
hello dakshay

In [67]:
date = "24", "12", "2001"
sep = "/"
sep.join(date)

'24/12/2001'

In [68]:
x = "Hello", "Dakshay", "Ahuja"
sep = "()"
sep.join(x)

'Hello()Dakshay()Ahuja'

In [69]:
a = "%%%%Dakshay Ahuja%%%%"
a.strip('%')

'Dakshay Ahuja'

In [71]:
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [74]:
list2 = [6,7,8,9]
list3 = list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
list3.append(10)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
prices = [4,1,10,7,3,20]
# prices.sort()
prices.sort(reverse=True)
sorted_prices=sorted(prices)
print(prices)
print(sorted_prices)

[20, 10, 7, 4, 3, 1]
[1, 3, 4, 7, 10, 20]

In [95]:
print(5 in prices)

False

In [98]:
# max(prices)
# min(prices)
prices.clear()
prices

[]

In [103]:
l1 = [1,2,3,4]
l2 = l1
print(l1)
print(l2)
l2[0] = 100
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[100, 2, 3, 4]
[100, 2, 3, 4]

In [104]:
l1 = [1,2,3,4]
l2 = l1.copy()
print(l1)
print(l2)
l2[0] = 100
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[100, 2, 3, 4]

In [105]:
l1 = [[1,2,3],[4,5,6]]
l2 = l1.copy()
print(l1)
print(l2)
l2[1][0] = 999
print(l1)
print(l2)

print(id(l1))
print(id(l2))
print(id(l1[0]))
print(id(l2[0]))

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [999, 5, 6]]
[[1, 2, 3], [999, 5, 6]]
4435815168
4435814400
4435814272
4435814272

In [106]:
import copy
l1 = [[1,2,3],[4,5,6]]
l2 = copy.deepcopy(l1)
print(l1)
print(l2)
l2[1][0] = 999
print(l1)
print(l2)

print(id(l1))
print(id(l2))
print(id(l1[0]))
print(id(l2[0]))

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [999, 5, 6]]
4435713024
4435960128
4435886144
4435949248

In [116]:
list1 = ['a','b','c','a','a']
print(list1.count('a'))
list2 = ['f','g','h','f']
list1.extend(list2)
print(list1)
print(list1.index('c'))

3
['a', 'b', 'c', 'a', 'a', 'f', 'g', 'h', 'f']
2

In [118]:
list1.insert(1,'hello')
list1

['a', 'hello', 'hello', 'b', 'c', 'a', 'a', 'f', 'g', 'h', 'f']

In [119]:
list1.remove('hello')
list1

['a', 'hello', 'b', 'c', 'a', 'a', 'f', 'g', 'h', 'f']

In [122]:
list1.reverse()
list1

['f', 'h', 'g', 'f', 'a', 'a', 'c', 'b', 'hello', 'a']

In [130]:
list1[2:-1]

['g', 'f', 'a', 'a', 'c', 'b', 'hello']

In [134]:
tup1 = (1,2,3,4,5)
print(tup1)
type(tup1)

(1, 2, 3, 4, 5)

tuple

In [136]:
tup2 = 'hello', 'dakshay', 'ahuja'
type(tup2)

tuple

In [138]:
sorted(tup1, reverse=True)

[5, 4, 3, 2, 1]

In [140]:
tup3 = tup2 * 2
print(tup3)
print('dakshay' in tup3)

('hello', 'dakshay', 'ahuja', 'hello', 'dakshay', 'ahuja')
True

In [1]:
for item in tup3:
    print(item)

SyntaxError: invalid character '😠' (U+1F620) (863914904.py, line 2)

In [146]:
print(len(tup1))
print(len(tup3))
print(max(tup1))
print(min(tup1))

5
6
5
1

In [151]:
tup4 = (1,2,3,4,[5,6,7])
print(tup4)
tup4[4].append(100)
print(tup4)
tup4[4].remove(5)
print(tup4)

(1, 2, 3, 4, [5, 6, 7])
(1, 2, 3, 4, [5, 6, 7, 100])
(1, 2, 3, 4, [6, 7, 100])

In [156]:
print(tup4[2:5])
print(tup4[::-1])

(3, 4, [6, 7, 100])
([6, 7, 100], 4, 3, 2, 1)

In [160]:
dict1 = {'a':1, 'b':2, 'c':3}
dict1['d'] = 4
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [163]:
del dict1['c']
print(dict1)

{'a': 1, 'b': 2, 'd': 4}

In [167]:
twister = "can you can a can as a canner can can a can"
word_count = {}
for word in twister.split():
    if word not in word_count:
        word_count[word]=1
    else:
        word_count[word]+=1
print(word_count)

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}

In [170]:
from collections import defaultdict
twister = "can you can a can as a canner can can a can"
word_count = defaultdict(int)
for word in twister.split():
    word_count[word] += 1
print(word_count)

for key,value in word_count.items():
    print(key, value)

defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})
can 6
you 1
a 3
as 1
canner 1

In [177]:
print(len(word_count))
print(str(word_count))
print(type(word_count))

5
defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})
<class 'collections.defaultdict'>

In [181]:
items_purchased = {'Salt': 2, 'Soap': 4, 'Juice': 9}
items_purchased_copy = items_purchased.copy()
items_purchased.clear()
print(items_purchased)
print(items_purchased_copy)

{}
{'Salt': 2, 'Soap': 4, 'Juice': 9}

In [185]:
items_purchased = {'Salt': 2, 'Soap': 4, 'Juice': 9}
print(items_purchased.keys())
print(items_purchased.values())
print(items_purchased.items())

dict_keys(['Salt', 'Soap', 'Juice'])
dict_values([2, 4, 9])
dict_items([('Salt', 2), ('Soap', 4), ('Juice', 9)])

In [187]:
print(items_purchased.get('Juice'))
print(items_purchased.get('Chips'))

9
None

In [188]:
items_purchased.setdefault('Wallets', 100)
items_purchased

{'Salt': 2, 'Soap': 4, 'Juice': 9, 'Wallets': 100}

In [194]:
l1 = ['a', 'b', 'c']
tup1 = ('d', 'e', 'f')
dict1 = dict.fromkeys(l1, 0)
dict2 = dict.fromkeys(tup1, 7)
print(dict1)
print(dict2)
dict1['b'] = 66
print(dict1)
del dict2['f']
print(dict2)

{'a': 0, 'b': 0, 'c': 0}
{'d': 7, 'e': 7, 'f': 7}
{'a': 0, 'b': 66, 'c': 0}
{'d': 7, 'e': 7}

In [195]:
key_name = ('a', 'b', 'c', 'd')
val_values = (20,30,40,50)
dictionary = dict(zip(key_name, val_values))
print(dictionary)

{'a': 20, 'b': 30, 'c': 40, 'd': 50}

In [200]:
list = (0,1,2,3,4,5,6,7,8,9,10)
list2 = [item**2 for item in list if item%2==0]
print(list2)

[0, 4, 16, 36, 64, 100]

In [203]:
list = (0,1,2,3,4,5,6,7,8,9,10)
list2 = [item*2 for item in list]
list3 = [item*3 for item in list]
print(list2)
print(list3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [213]:
result_list = [[item * list[index] for item in list] for index in range(len(list))]
print(result_list)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [215]:
list = ["dairy", "bakery", "grocery", "clothing", "footwear"]
first_letter = [item[0].upper() for item in list]
print(first_letter)

['D', 'B', 'G', 'C', 'F']

In [216]:
text = "Eddy employee id is 1005 and his salary is 2000 dollars"
numbers = [int(i) for i in text.split() if i.isdigit() == True]
print(numbers)

[1005, 2000]

In [218]:
Products = ['phone', 'laptop', 'headphones', 'mouse', 'tablet']
discount = [10 if item=='phone' else 15 if item=='headphones' else 20 for item in Products]
print(discount)

[10, 20, 15, 20, 20]

In [222]:
Products = ['Apparels', 'Crockeries', 'Cosmetics', 'Beverages', 'Detergents']
prod_len = [item for item in Products if len(item)>9]
print(prod_len)

['Crockeries', 'Detergents']