In [ ]:
# import numpy as np
import pandas as pd
pd.set_option('display.width', 1000)

In [ ]:
data_science = ['Python', 'R', 'Big Data', 'Machine Learning']
df = pd.DataFrame(data_science)
df

In [ ]:
store_list = [['Nokia', 30000], ['Samsung', 42000], ['OnePlus', 55000], ['Apple', 92000]]
df_list = pd.DataFrame(store_list, columns=['Store', 'Sales'])
df_list

In [ ]:
store_data = {'Product': ['Coffee', 'Biscuits', 'Milk', 'Tea'], 'Sales':[5000,3000,2000,4000]}
df_dict = pd.DataFrame(store_data)
df_dict

In [ ]:
store_data = {'Product': ['Coffee', 'Biscuits', 'Milk', 'Tea'], 'Sales':[5000,3000,2000,4000]}
df_dictOfList = pd.DataFrame(store_data, index=['A', 'B', 'C', 'D'])
df_dictOfList

In [ ]:
store_data = [{'Store-A':1010, 'Store-B':210}, {'Store-A':3105, 'Store-B':4110, 'Store-C':2120}]
df_store = pd.DataFrame(store_data)
df_store

In [ ]:
print(type(df))
print(type(df_store['Store-A']))

In [ ]:
df_sales = pd.read_csv("bigmarket.csv")
df_sales

In [ ]:
# print(df_sales.head())
# print(df_sales.tail())
print(df_sales.shape)
print(df_sales.dtypes)
print(df_sales.info())

In [ ]:
# print(df_sales.iloc[1])
# print(df_sales.iloc[0]['Store'])
# print(df_sales.iloc[3:6])
# print(df_sales.iloc[:, :2])
print(df_sales.iloc[:, [0,2]])

In [ ]:
# print(df_sales.loc[1]['Sales'])
print(df_sales.loc[0:2, ['Store','Sales']])

In [ ]:
print(df_sales[df_sales.Sales>40000])
print(df_sales[df_sales.Sales<25000])

In [ ]:
df_sales[(df_sales.Month=='Jan') & (df_sales.Sales>30000)]

In [ ]:
# print(df_sales.sort_values('Sales'))
# print(df_sales.sort_values('Sales', ascending=False))
print(df_sales.sort_values(['Store', 'Sales']))

In [ ]:
df_sales[df_sales.Sales>30000].sort_index()

In [ ]:
data = {'Name': ['Diana', 'James', 'Mia', 'Emily', 'Ruben', 'John', 'Jordan'],
        'Verbal_Score': [151,152,151,156,100,145,155],
        'Quantitative_Score': [158,87,100,146,139,129,122],
        'Qualify': ['Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes']}
df_score = pd.DataFrame(data)
df_score

In [ ]:
# df_score['Verbal_Rank'] = df_score.Verbal_Score.rank() #by default the method is 'average'
# df_score['Verbal_Rank'] = df_score.Verbal_Score.rank(method='min')
# df_score['Verbal_Rank'] = df_score.Verbal_Score.rank(method='max')
df_score['Verbal_Rank'] = df_score.Verbal_Score.rank(method='dense')
df_score

In [ ]:
df_sales1 = pd.read_excel('sales-transactions.xlsx', sheet_name='Sheet0')
df_sales2 = pd.read_excel('sales-transactions.xlsx', sheet_name='Sheet1')
print(df_sales1)
print(df_sales2)

In [ ]:
# df_sales = pd.concat([df_sales1, df_sales2])
df_sales = pd.concat([df_sales1, df_sales2], ignore_index=True)
df_sales

In [ ]:
df_order1 = pd.read_excel('orders.xlsx', sheet_name='Sheet0')
df_order2 = pd.read_excel('orders.xlsx', sheet_name='Sheet1')
print(df_order1)
print(df_order2)

In [ ]:
df_orders = pd.concat([df_order1, df_order2], axis=1)
df_orders

In [ ]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'], 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})
joined_df = df.join(other, lsuffix='leftdf', rsuffix='rightdf')
joined_df

In [ ]:
order1 = pd.DataFrame({'Cust_ID':[101,102,103,104],'Name':['Olivia','Will LLC','Sophia','Isabella']})
order2 = pd.DataFrame({'Order_ID':[222,223,224,225], 'Cust_ID':[101,102,103,104],'Order':[789,465,675,564]})
order1.set_index('Cust_ID').join(order2.set_index('Cust_ID'), on='Cust_ID', how='inner')

In [ ]:
order1.join(order2, lsuffix='-customer', rsuffix='-order')

In [2]:
df_cust = pd.read_excel('Ecommerce_data.xlsx', sheet_name='Cust_Data')
df_order = pd.read_excel('Ecommerce_data.xlsx', sheet_name='Order_Data')

In [3]:
pd.merge(df_cust, df_order, on='Cust_Id')

  Cust_Id  Age  Gender     City  Ord_Id  Ord_Quantity    Sales Ord_Priority
0  Cust_1   35    Male   Mumbai  Ord_10           4.0  3237.00       Medium
1  Cust_2   24  Female  Chennai  Ord_14           NaN      NaN          NaN
2  Cust_3   40  Female    Delhi  Ord_25           2.0   422.70          Low
3  Cust_4   45    Male  Chennai  Ord_29          15.0  4571.79         High
4  Cust_5   37    Male   Mumbai  Ord_34           8.0  4233.15          Low
5  Cust_6   40  Female   Mumbai  Ord_52           3.0   164.02         High

In [6]:
# pd.merge(df_cust, df_order, on='Cust_Id', how='outer')
# pd.merge(df_cust,df_order,on='Cust_Id',how='right')
pd.merge(df_cust,df_order,on='Cust_Id',how='left')

  Cust_Id  Age  Gender     City  Ord_Id  Ord_Quantity    Sales Ord_Priority
0  Cust_1   35    Male   Mumbai  Ord_10           4.0  3237.00       Medium
1  Cust_2   24  Female  Chennai  Ord_14           NaN      NaN          NaN
2  Cust_3   40  Female    Delhi  Ord_25           2.0   422.70          Low
3  Cust_4   45    Male  Chennai  Ord_29          15.0  4571.79         High
4  Cust_5   37    Male   Mumbai  Ord_34           8.0  4233.15          Low
5  Cust_6   40  Female   Mumbai  Ord_52           3.0   164.02         High

In [7]:
pd.merge(df_cust, df_order, left_index=True, right_index=True)

  Cust_Id_x  Age  Gender     City  Ord_Id Cust_Id_y  Ord_Quantity    Sales Ord_Priority
0    Cust_1   35    Male   Mumbai  Ord_10    Cust_1           4.0  3237.00       Medium
1    Cust_2   24  Female  Chennai  Ord_14    Cust_2           NaN      NaN          NaN
2    Cust_3   40  Female    Delhi  Ord_25    Cust_3           2.0   422.70          Low
3    Cust_4   45    Male  Chennai  Ord_29    Cust_4          15.0  4571.79         High
4    Cust_5   37    Male   Mumbai  Ord_34    Cust_5           8.0  4233.15          Low
5    Cust_6   40  Female   Mumbai  Ord_52    Cust_6           3.0   164.02         High