In [1]:
def greet(name):
    print("Hello", name)

In [2]:
greet("Dakshay")

Hello Dakshay

In [3]:
def employee(id, name, salary=700):
    print("Employee", name, "has ID:", id, "\nTheir salary is", salary)

In [4]:
employee(1, "Dakshay", 100)

Employee Dakshay has ID: 1
Their salary is 100

In [5]:
employee(name="Chitra", id=2, salary=5000)

Employee Chitra has ID: 2
Their salary is 5000

In [6]:
employee(3, "Foo")

Employee Foo has ID: 3
Their salary is 700

In [7]:
def addition(*numbers):
    sum = 0
    for num in numbers:
        sum += num
    return sum

In [8]:
print(addition(1,2,3))
print(addition(1,2,3,4,5,6))
print(addition(7,4,21))

6
21
32

In [9]:
def employee(**kwargs):
#     print(type(kwargs))
    for key, value in kwargs.items():
        print(key, ":", value)

In [10]:
employee(id=1, name="Chitra", company="caelius", profile="mulesoft developer")

id : 1
name : Chitra
company : caelius
profile : mulesoft developer

In [11]:
employee(id=2, name="Dakshay", profile="devops engineer")

id : 2
name : Dakshay
profile : devops engineer

In [12]:
greater = lambda x,y: x if x>y else y

In [13]:
greater(30,5)

30

In [14]:
list1 = range(1,11)
print(list(map(lambda x: x**2, list1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
list1 = range(1,11)
print(list(filter(lambda x:x%2==0, list1)))

[2, 4, 6, 8, 10]

In [16]:
from functools import reduce
list2 = range(1,6)
reduce(lambda a,b: a+b, list2)

15

In [17]:
from functools import reduce
list2 = (0, -8, 55, -100, 1000, 3)
reduce(lambda x,y: x if x<y else y, list2)

-100