#### Q1- Count all letters, digits, and special symbols from a given string str1 = "I@#ma26rt^&ic5us"

In [1]:
str1 = "I@#ma26rt^&ic5us"
letters = digits = symbols = 0
for char in str1:
    if char.isalpha():
        letters += 1
    elif char.isdigit():
        digits += 1
    else:
        symbols +=1
print("Letters:", letters)
print("Digits:", digits)
print("Symbols:", symbols)

Letters: 9
Digits: 3
Symbols: 4

#### Q2 - Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.

In [2]:
a=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
result = list(filter(lambda num:(num%19==0) or (num%13==0), a))
print(result)

[19, 65, 57, 39, 152, 190]

#### Q3 - Find all of the words in a string that are less than 5 letters.

In [3]:
string = "Practice Problems to Drill List Comprehension in Your Head."
result = [word for word in string.split() if len(word)<5]
print(result)

['to', 'List', 'in', 'Your']

#### Q4 - Calculate income tax for the given income by adhering to the below rules:

Taxable income Rate:
First $10,000 => 0
Next $10,000 => 10%
The remaining => 20%

In [4]:
income = int(input("Enter income:"))
tax = 0
if 10000 < income <= 20000:
    tax = (income-10000) * 0.1
elif income > 20000:
    tax = 10000 * 0.1 + (income-20000) * 0.2
print("Income is:", income)
print("Tax is:", tax)

Income is: 38000
Tax is: 4600.0

#### Q5 - Given below are the list of positive and negative words. Also, a list of tweets is provided. Separate out the positive and negative comments.

In [7]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful', 'bad']

tweets = ['This government policies are good', 
          'bad implementation',
          'The way he played showed that he is one of the best players in the world',
          'Her acting in the play was awesome',
          'The wine tastes awful',
          "It's nice to hear this little kid's laugh"]

# pos_tweets = [tweet for tweet in tweets if any(word in tweet for word in positive)]
# neg_tweets = [tweet for tweet in tweets if any(word in tweet for word in negative)]

pos_tweets=[]
neg_tweets=[]

for tweet in tweets:
    for word in positive:
        if word in tweet:
            pos_tweets.append(tweet)
    for word in negative:
        if word in tweet:
            neg_tweets.append(tweet)
            
print("Positive Tweets:", pos_tweets)
print()
print("Negative Tweets:", neg_tweets)

Positive Tweets: ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]

Negative Tweets: ['bad implementation', 'The wine tastes awful']

#### Q6 - Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list: list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

In [8]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend((sub_list))
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#### Q7 - Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [9]:
list1 = [54, 44, 27, 79, 91, 41]
elem = list1.pop(4)
list1.insert(1,elem)
list1.append(elem)
print(list1)

[54, 91, 44, 27, 79, 41, 91]

#### Q8 - Load the iris dataset and Find only those records whose sepal_length = 5.1 and sepal_width = 3.5

In [10]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
result = iris_df[
    (iris_df['sepal length (cm)'] == 5.1) & 
    (iris_df['sepal width (cm)'] == 3.5)
]
print(result)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                 5.1               3.5                1.4               0.2
17                5.1               3.5                1.4               0.3

#### Q9 - Check for Maximum petal_length and convert it in to 7.2 and min petal_length and convert it in to 1.2

In [11]:
iris_df['petal length (cm)'].replace(iris_df['petal length (cm)'].max(), 7.2, inplace=True)
iris_df['petal length (cm)'].replace(iris_df['petal length (cm)'].min(), 1.2, inplace=True)
print(iris_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

#### Q10 - Perform right join to combine values based on the 'ID' in the two dataframes. Use the dataframe given below, read the DataFrame with the help of clipboard function

Data for df1
ID Candidate_Name Subject
101 Alex History
102 Amy English
103 Allen Geography
104 Alice German
105 James History
106 Sara German
107 Mia English

In [2]:
import pandas as pd
df1 = pd.read_clipboard()
print(df1)

    ID Candidate_Name    Subject
0  101           Alex    History
1  102            Amy    English
2  103          Allen  Geography
3  104          Alice     German
4  105          James    History
5  106           Sara     German
6  107            Mia    English

Data for df2
ID City Subject_Score
101 Delhi 89
102 Mumbai 78
103 Delhi 77
104 Chennai 87
105 Hyderabad 87
108 Delhi 84

In [14]:
df2 = pd.read_clipboard()
print(df2)

    ID       City  Subject_Score
0  101      Delhi             89
1  102     Mumbai             78
2  103      Delhi             77
3  104    Chennai             87
4  105  Hyderabad             87
5  108      Delhi             84

In [15]:
result = pd.merge(df1, df2, how="right", on="ID")
print(result)

    ID Candidate_Name    Subject       City  Subject_Score
0  101           Alex    History      Delhi             89
1  102            Amy    English     Mumbai             78
2  103          Allen  Geography      Delhi             77
3  104          Alice     German    Chennai             87
4  105          James    History  Hyderabad             87
5  108            NaN        NaN      Delhi             84